body {
    background-image: -webkit-linear-gradient(45deg, rgb(41, 34, 170), rgb(3, 93, 30));

    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: -webkit-center;

    font-size: 50px;

}

header {
    font-size: 75px;
    letter-spacing: 6px;
}

sub {
    font-size: 20px;
}

p {
    font-size: 30px;
}

img {
    width: 100px;
    height: 100px;
    position: relative;
    animation: bounce 3s infinite;
}

.textBlock {
    /*background-color: 10px solid rgba(120, 194, 216, 0.4);*/
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.35);
    border-radius: 50px;
    width: 950px;

    margin:auto;
    margin-top: 30px;
    margin-bottom:30px;
    padding: 50px;
}

.sectionTitle {
    margin-top: 50px;
    margin-bottom: 80px;
    font-size:175px;

    background-image: -webkit-linear-gradient(0deg, rgb(242, 192, 192), rgb(154, 95, 95), rgb(242, 192, 192));
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    animation: titleColor 5s infinite;
    -webkit-animation: titleColor 5s infinite;
    animation-timing-function: cubic-bezier(.17,0,.8,.99);
}

@keyframes bounce {
    0%   { bottom:0px;}
    25%  { bottom:20px;}
    50%  { bottom:0px;}
    100% { bottom:0px;}
}

@keyframes colorChange {
    0% {color: rgb(9, 78, 78);}
    25% {color: rgb(129, 154, 129);}
    50% {color: rgb(9, 78, 78)}
    100% {color: rgb(9, 78, 78);}
}

@keyframes titleColor {
    0% {background-position: 0%;}
    50% {background-position: 100%;}
    100% {background-position: 0%;}
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: none;
}

::-webkit-scrollbar-thumb {
    background: teal;
}

::-webkit-scrollbar-thumb:hover {
    animation: colorChange 10s infinite;
}

